

div #main-container {
	height: 100vh;
}

.spacedRow {
    padding-top: 8px;
    padding-bottom: 8px;

    border-bottom: 1px solid #666666;
}

.scoreRow {
    padding-top: 8px;
    padding-bottom: 8px;

    font-weight: bold;
    font-size: 18px;
    color: #666666;

    background-color: #feffb9  ;
}


#main-column {
    height: 100%;
}

#main-row {
    height: 100%;
}

#mainpage {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

div .vte-body {
    max-width: 720px;
    min-width: 580px;
}

div #addFilterButtonBar {
    margin-top: 12px;
}

#sidebar {
    height: 400px;
}

#filter-list {
    height: 400px;
}

div .button {
	margin-bottom: 8px;
}

div #pageTop {
	margin-top: 8px;
}

div .title-white {
	color: white;
}

div #header {
    padding-top: 8px;
    
    margin-bottom: 12px;
	
	height: 50px;
    background-color: #bebebe  ;
    
    border-bottom-width: 2px;
    border-bottom-color: gray;
    border-bottom-style: solid;
}


div #home-buttons-desc {
    margin-top: 32px;
    margin-bottom: 24px;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #666666;
}

div .prewrap {
    white-space: pre-wrap;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: italic;
    font-size: 14px;
    color: #666666;
}

.form-check-label {
    margin-bottom: 8px;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: #666666;

}

.form-check-label:hover {
    cursor: pointer;
    background-color: #EEEEEE;
}

.form-check-textinput:hover {
    background-color: #EEEEEE;
}


li.opnote-list-item:hover {
    background-color:#fafafa;
    cursor: pointer;
}

div.opnote-list-item {
    height: 66px;
}

li.opnote-list-item {
    margin-bottom: 4px;
    margin-top: 4px;
    background-color: #ffffff;
    
    font-size: 15pt;
    color: #999999;
    font-weight: bold;
}

li.opnote-list-item:hover {
    background-color:#fafafa;
    cursor: pointer;
}

div .opnoteListTitle {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    
    color: rgb(170, 170, 170);
}

ul#opnoteList {
    list-style-type:none;
    width: 100%;
    margin-top: 24px;
    padding-left: 0px;
}

.warningParagraph {
    margin-top: 8px;
    margin-bottom: 8px;
}

.sectionTitle {
    margin-top: 16px;
}

div #submitDiv {
    margin-top: 18px;
}

div #footerDiv {
    height: 72px;
}

div .wideLabel {
    width: 100%;
}

#residualTextInput {
    margin-left: 12px;
    width: 50%;
}

#complexityTotal {
    font-weight: bold;
}

#complexityScoreCalculatorDiv {
    color: #666666;
}

#generatedRecommendation {
    margin-top: 24px;
    background-color: #EEEEEE;
    display:none;
}

#copyToClipboardDiv {
    display:none;
}

#copiedAlert {
    display:none;
    margin-bottom: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.infoIconCol {
    padding-left: 0px;
    margin-top: 2px;
}

.hiddenElement {
	display:none;
}


/* remove the blue outline that is displayed by the browser on buttons */
button:focus {
outline: 0px solid transparent;
}
